#homeid {
    min-height: 100vh;
}

#menu {
    float: left;
    text-align: left;
    padding-left: 2rem;
    padding-top: 2rem;
}

#download {
    font-style: italic;
}

#picture {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right: 10vw;
    margin-left: .5rem;
}

#mobile {
    display: none;
}

@media (width <= 700px) {

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}